<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./album.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>

    <h3 style="margin-top: 2rem;">Thể loại</h3>
    <div class="type-music">
        <div class="card bg-dark text-white">
            <img src="https://photo-zmp3.zadn.vn/cover/1/e/0/f/1e0f4998259f2f8a0ae7de1a7110bb62.jpg"
                class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Nhạc Việt</h5>
                
            </div>
        </div>

        <div class="card bg-dark text-white">
            <img src="https://photo-zmp3.zadn.vn/cover/2/7/5/3/2753569ef5258e604e8eadf7a155a2ff.jpg"
                class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Nhạc Âu Mỹ</h5>
            </div>
        </div>

        <div class="card bg-dark text-white">
            <img src="https://photo-zmp3.zadn.vn/cover/a/e/d/3/aed3d129c85c532fbef3c5571bfed4c0.jpg"
                class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Nhạc Hàn</h5>
            </div>
        </div>

        <div class="card bg-dark text-white">
            <img src="https://photo-zmp3.zadn.vn/cover/b/2/6/3/b263d93573d43b840bb1716aca21604d.jpg"
                class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Nhạc Nhật</h5>
            </div>
        </div>
    </div>
</body>

</html>