<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./footer.css">
</head>
<body>
    <div class="footer">
        <div class="title">
            <img src="//static-zmp3.zadn.vn/skins/zmp3-mobile-v5.2/images/logo-mp-3.png" alt="">
            <p>Zing Mp3 - Website nghe nhạc trực tuyến Việt Nam</p>
        </div>
        <div class="footer-menu">
            <ul>
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Liên hệ</a></li>
                <li><a href="#">Quảng cáo</a></li>
                <li><a href="#">Góp ý</a></li>
                <li><a href="#">Thoả thuận sử dụng</a></li>
            </ul>
        </div>
    </div>
</body>
</html>