<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./singer.css">
</head>

<body>
    <h3 class="h3">Nhạc Sĩ</h3>
    <div class="all-singer">
        <div class="singer">
            <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/avatars/e/1/1/2/e1120261421cfec7513423222b0ca94c.jpg"
                alt="..." class="rounded-circle">
            <div class="info">
                <p class="icon"><i class="fas fa-star"></i> Zing Choice</p>
                <p class="name">Mr Siro</p>
            </div>
        </div>

        <div class="singer">
            <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/avatars/e/1/1/2/e1120261421cfec7513423222b0ca94c.jpg"
                alt="..." class="rounded-circle">
            <div class="info">
                <p class="icon"><i class="fas fa-star"></i> Zing Choice</p>
                <p class="name">Mr Siro</p>
            </div>
        </div>

        <div class="singer">
            <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/avatars/e/1/1/2/e1120261421cfec7513423222b0ca94c.jpg"
                alt="..." class="rounded-circle">
            <div class="info">
                <p class="icon"><i class="fas fa-star"></i> Zing Choice</p>
                <p class="name">Mr Siro</p>
            </div>
        </div>
    </div>
</body>

</html>