<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./mymusic.css">
</head>

<body>
    <div class="my-music">
        <h3><a href="#">Playlist Nghe gần đây </a></h3>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top"
                    src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/3/2/2/6/32269ad4997dc3f733287a6c6864b414.jpg"
                    alt="Card image cap">
                <a href="#">
                    <div class="card-body">
                        <h5 class="card-title">Tiềm năng V-Pop</h5>
                    </div>
                </a>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/9/5/c/d/95cd4fa2529031f73445e7a6c9ea0371.jpg"
                    alt="Card image cap">
                <a href="#">
                    <div class="card-body">
                        <h5 class="card-title">#Hashtag V-POP</h5>
                    </div>
                </a>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/a/f/7/0/af7014fce9602c7a28ac65387404755e.jpg"
                    alt="Card image cap">
                <a href="#">
                    <div class="card-body">
                        <h5 class="card-title">Nam Thần Nhạc Việt</h5>
                    </div>
                </a>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/3/2/2/6/32269ad4997dc3f733287a6c6864b414.jpg"
                    alt="Card image cap">
                <a href="#">
                    <div class="card-body">
                        <h5 class="card-title">Tiềm năng V-Pop</h5>
                    </div>
                </a>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/9/5/c/d/95cd4fa2529031f73445e7a6c9ea0371.jpg"
                    alt="Card image cap">
                <a href="#">
                    <div class="card-body">
                        <h5 class="card-title">#Hashtag V-POP</h5>
                    </div>
                </a>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/a/f/7/0/af7014fce9602c7a28ac65387404755e.jpg"
                    alt="Card image cap">
                <a href="#">
                    <div class="card-body">
                        <h5 class="card-title">Nam Thần Nhạc Việt</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>

    
</body>

</html>