<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./mymusic.css">
</head>

<body>
    <!-- <div class=""> -->
    <div class="my-music container">
        <h3><a href="#">Top 100 </a></h3>
        <div class="card-deck row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-6">
            <div class="col mb-4">
                <div class="card">
                    <div class="album-cover">
                        <img class="card-img-top"
                            src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/5/3/3/c/533c3bdc0e55983ad9621a5e862f81f3.jpg"
                            alt="">
                        <div class="overlay">
                            <i class="icon far fa-play-circle"></i>
                            <!-- <span>02</span> -->
                        </div>
                    </div>
                    <a href="#">
                        <div class="card-body">
                            <h5 class="card-title">Tiềm năng V-Pop</h5>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card ">
                    <div class="album-cover">
                        <img class="card-img-top"
                            src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/5/3/3/c/533c3bdc0e55983ad9621a5e862f81f3.jpg"
                            alt="">
                        <div class="overlay">
                            <i class="icon far fa-play-circle"></i>
                            <!-- <span>02</span> -->
                        </div>
                    </div>
                    <a href="#">
                        <div class="card-body">
                            <h5 class="card-title">Tiềm năng V-Pop</h5>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card ">
                    <div class="album-cover">
                        <img class="card-img-top"
                            src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/5/3/3/c/533c3bdc0e55983ad9621a5e862f81f3.jpg"
                            alt="">
                        <div class="overlay">
                            <i class="icon far fa-play-circle"></i>
                            <!-- <span>02</span> -->
                        </div>
                    </div>
                    <a href="#">
                        <div class="card-body">
                            <h5 class="card-title">Tiềm năng V-Pop</h5>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card ">
                    <div class="album-cover">
                        <img class="card-img-top"
                            src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/5/3/3/c/533c3bdc0e55983ad9621a5e862f81f3.jpg"
                            alt="">
                        <div class="overlay">
                            <i class="icon far fa-play-circle"></i>
                            <!-- <span>02</span> -->
                        </div>
                    </div>
                    <a href="#">
                        <div class="card-body">
                            <h5 class="card-title">Tiềm năng V-Pop</h5>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card ">
                    <div class="album-cover">
                        <img class="card-img-top"
                            src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/5/3/3/c/533c3bdc0e55983ad9621a5e862f81f3.jpg"
                            alt="">
                        <div class="overlay">
                            <i class="icon far fa-play-circle"></i>
                            <!-- <span>02</span> -->
                        </div>
                    </div>
                    <a href="#">
                        <div class="card-body">
                            <h5 class="card-title">Tiềm năng V-Pop</h5>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card ">
                    <div class="album-cover">
                        <img class="card-img-top"
                            src="https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/5/3/3/c/533c3bdc0e55983ad9621a5e862f81f3.jpg"
                            alt="">
                        <div class="overlay">
                            <i class="icon far fa-play-circle"></i>
                            <!-- <span>02</span> -->
                        </div>
                    </div>
                    <a href="#">
                        <div class="card-body">
                            <h5 class="card-title">Tiềm năng V-Pop</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>