<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://static-zmp3.zadn.vn/skins/zmp3-v5.2/images/song-vn-2x.jpg" alt="Card image cap">
        </div>
        <div class="card">
            <img class="card-img-top" src="https://static-zmp3.zadn.vn/skins/zmp3-v5.2/images/mv-vn-2x.jpg" alt="Card image cap">
        </div>
        <div class="card">
            <img class="card-img-top" src="https://static-zmp3.zadn.vn/skins/zmp3-v5.2/images/song-vn-2x.jpg" alt="Card image cap">
        </div>
        <div class="card">
            <img class="card-img-top" src="https://static-zmp3.zadn.vn/skins/zmp3-v5.2/images/mv-vn-2x.jpg" alt="Card image cap">
        </div>
    </div>
</body>

</html>